interactions:
- request:
    body: Action=GetCallerIdentity&Version=2011-06-15
    headers: {}
    method: POST
    uri: https://sts.amazonaws.com/
  response:
    body:
      string: "<GetCallerIdentityResponse xmlns=\"https://sts.amazonaws.com/doc/2011-06-15/\">\n
        \ <GetCallerIdentityResult>\n    <Arn>arn:aws:iam::888888888888:user/mytestuser</Arn>\n
        \   <UserId>888888888888</UserId>\n    <Account>888888888888</Account>\n  </GetCallerIdentityResult>\n
        \ <ResponseMetadata>\n    <RequestId>99999999-9999-9999-9999-999999999999</RequestId>\n
        \ </ResponseMetadata>\n</GetCallerIdentityResponse>\n"
    headers:
      Content-Type:
      - text/xml
      x-amzn-RequestId: 99999999-9999-9999-9999-999999999999
    status:
      code: 200
      message: OK
- request:
    body: Action=GetUser&Version=2010-05-08
    headers: {}
    method: POST
    uri: https://iam.amazonaws.com/
  response:
    body:
      string: "<GetUserResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n
        \ <GetUserResult>\n    <User>\n      <Path>/</Path>\n      <UserName>mytestuser</UserName>\n
        \     <Arn>arn:aws:iam::888888888888:user/mytestuser</Arn>\n      <UserId>888888888888</UserId>\n
        \     <CreateDate>2023-03-15T16:55:34Z</CreateDate>\n    </User>\n  </GetUserResult>\n
        \ <ResponseMetadata>\n    <RequestId>99999999-9999-9999-9999-999999999999</RequestId>\n
        \ </ResponseMetadata>\n</GetUserResponse>\n"
    headers:
      Content-Type:
      - text/xml
      x-amzn-RequestId: 99999999-9999-9999-9999-999999999999
    status:
      code: 200
      message: OK
- request:
    body: Action=ListAccessKeys&Version=2010-05-08&UserName=mytestuser
    headers: {}
    method: POST
    uri: https://iam.amazonaws.com/
  response:
    body:
      string: "<ListAccessKeysResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n
        \ <ListAccessKeysResult>\n    <IsTruncated>false</IsTruncated>\n    <AccessKeyMetadata>\n
        \     <member>\n        <AccessKeyId>YYYYYYYYYYYYYYYYYYYY</AccessKeyId>\n
        \       <UserName>mytestuser</UserName>\n        <Status>Active</Status>\n
        \       <CreateDate>2023-08-04T12:14:09Z</CreateDate>\n      </member>\n    </AccessKeyMetadata>\n
        \ </ListAccessKeysResult>\n  <ResponseMetadata>\n    <RequestId>99999999-9999-9999-9999-999999999999</RequestId>\n
        \ </ResponseMetadata>\n</ListAccessKeysResponse>\n"
    headers:
      Content-Type:
      - text/xml
      x-amzn-RequestId: 99999999-9999-9999-9999-999999999999
    status:
      code: 200
      message: OK
- request:
    body: Action=GetAccountSummary&Version=2010-05-08
    headers: {}
    method: POST
    uri: https://iam.amazonaws.com/
  response:
    body:
      string: "<GetAccountSummaryResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n
        \ <GetAccountSummaryResult>\n    <SummaryMap>\n      <entry>\n        <key>GroupPolicySizeQuota</key>\n
        \       <value>5120</value>\n      </entry>\n      <entry>\n        <key>InstanceProfilesQuota</key>\n
        \       <value>1000</value>\n      </entry>\n      <entry>\n        <key>Policies</key>\n
        \       <value>0</value>\n      </entry>\n      <entry>\n        <key>GroupsPerUserQuota</key>\n
        \       <value>10</value>\n      </entry>\n      <entry>\n        <key>InstanceProfiles</key>\n
        \       <value>0</value>\n      </entry>\n      <entry>\n        <key>AttachedPoliciesPerUserQuot[...]
