interactions:
- request:
    body: Action=GetAccountSummary&Version=2010-05-08
    headers: {}
    method: POST
    uri: https://iam.amazonaws.com/
  response:
    body:
      string: "<GetAccountSummaryResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n
        \ <GetAccountSummaryResult>\n    <SummaryMap>\n      <entry>\n        <key>GroupPolicySizeQuota</key>\n
        \       <value>5120</value>\n      </entry>\n      <entry>\n        <key>InstanceProfilesQuota</key>\n
        \       <value>1000</value>\n      </entry>\n      <entry>\n        <key>Policies</key>\n
        \       <value>0</value>\n      </entry>\n      <entry>\n        <key>GroupsPerUserQuota</key>\n
        \       <value>10</value>\n      </entry>\n      <entry>\n        <key>InstanceProfiles</key>\n
        \       <value>0</value>\n      </entry>\n      <entry>\n        <key>AttachedPoliciesPerUserQuot[...]
