interactions:
- request:
    body: Action=GetCallerIdentity&Version=2011-06-15
    headers: {}
    method: POST
    uri: https://sts.amazonaws.com/
  response:
    body:
      string: "<ErrorResponse xmlns=\"https://sts.amazonaws.com/doc/2011-06-15/\">\n
        \ <Error>\n    <Type>Sender</Type>\n    <Code>InvalidClientTokenId</Code>\n
        \   <Message>The security token included in the request is invalid.</Message>\n
        \ </Error>\n  <RequestId>99999999-9999-9999-9999-999999999999</RequestId>\n</ErrorResponse>\n"
    headers:
      Content-Type:
      - text/xml
      x-amzn-RequestId: 99999999-9999-9999-9999-999999999999
    status:
      code: 403
      message: Forbidden
version: 1
