[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "geomancy"
authors = [
    {name = "Justin Lorieau", email = 'justin@lorieau.com'},
]
description = "A deployment environment validator"
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 3 - Alpha"
    ]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
    "pytest>=7.4",
    "twine>=4.0"
    ]

[tool.setuptools.dynamic]
version = {attr = "geomancy.__version__"}

