[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "geomancy"
authors = [
    {name = "Justin Lorieau"},
]
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Development Status :: 4 - Beta"
    ]
dynamic = ["version", "description"]

[tool.setuptools]
packages = ["geomancy"]

[tool.setuptools.dynamic]
version = {attr = "geomancy.__version__"}
description = {file = "geomancy/__description__.txt"}

[project.optional-dependencies]
dev = [
    "pytest>=7.4",
    "twine>=4.0",
    "black[d]",
    "build"
    ]
doc = [
    "sphinx",
    "sphinx-book-theme",
    "sphinx_design>=0.4",
    "myst-parser>=2.0",
]

[project.scripts]
geo = "geomancy.main:main_cli"

[tool.pytest.ini_options]
addopts = "--doctest-modules"
