[config]
# see `geo --config` for all options
VERSION='0.1.0a'

  [config.CHECKBASE]
  ENV_SUBSTITUTE_DEFAULT=true

[checks.Environment]
desc = "Check environment variables common to all development environments"

    [checks.Environment.Path]
    desc = "Paths to search for executables"
    checkEnv = "{PATH}"

    [checks.Environment.Username]
    desc = "The current username"
    checkEnv = "{USER}"
    regex = "[a-z_][a-z0-9_-]*[$]?"

[checks.Paths]
desc = "Checks the existence of needed files and directories"

    [checks.Paths.ChecksFile]
    desc = "Checks that at least one checks file exists"
    condition = "any"

        [checks.Paths.ChecksFile.Geomancy]
        desc = "Check for 'geomancy.toml' file"
        checkPath = "examples/geomancy.toml"
        type = "file"

        [checks.Paths.ChecksFile.Pyproject]
        desc = "Check for 'pyproject.toml' file"
        checkPath = "examples/pyproject.toml"
        type = "file"

        [checks.Paths.ChecksFile.missing]
        desc = "Check a missing file"
        checkPath = ".missing__.txt"
        type = "file"

[checks.Executables]
desc = "Check the availability of commands and their versions"

    [checks.Executables.Python]
    desc = "Python interpreter"
    checkExec = "python>=3.11"
